<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Music</title>
</head>
<body>
<ul>
    <li><a href="/search">Search page</a></li>
</ul>
    <div>
        <h2>Artist:</h2>
        <ul th:each="art: ${artist}">
            <li th:text="${art.getName()}"></li>
        </ul>
        <h2>Tracks:</h2>
        <ul th:each="tra: ${track}">
            <li th:text="${tra.getName()}"></li>
        </ul>
        <h2>Genre:</h2>
        <ul th:each="gen : ${genre}">
            <li th:text="${gen.getName()}"></li>
        </ul>
    </div>
</body>
</html>