<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Music</title>
    <link th:href="@{/Navbar.css}" rel="stylesheet" />
    <style>
        .content-container {
            display: flex;
            justify-content: space-between;
            width: 70vw;
            margin: auto;
        }
    </style>
</head>
<body>
    <header>
        <ul>
            <li><a href="#" class="active" >Home Page</a></li>
            <li><a href="/search" >Search Page</a></li>
        </ul>
    </header>

    <section class="content-container">
        <div>
            <h2>Artist:</h2>
            <ul th:each="artist: ${artists}">
                <li th:text="${artist.getName()}"></li>
            </ul>
        </div>
        <div>
            <h2>Tracks:</h2>
            <ul th:each="track: ${tracks}">
                <li th:text="${track.getName()}"></li>
            </ul>
        </div>
        <div>
            <h2>Genre:</h2>
            <ul th:each="genre: ${genres}">
                <li th:text="${genre.getName()}"></li>
            </ul>
        </div>
    </section>
</body>
</html>